/* Header */
header {
    text-align: center;
}

/* Body */
.game-info {
    text-align: center;
    margin-top: 4rem;
}

#reaction-box {
    border: 1px solid black;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.user-time {
    display: none;
    font-size: 140%;
}